<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery -->
<script src="/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap  -->
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!--FastClick-->
<script src="/plugins/fastclick/lib/fastclick.js"></script>
<!--jquery slimscroll-->
<script src="/plugins/Others/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="/app/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/app/js/demo.js"></script>
<!--dataTables-->
<script src="/plugins/Others/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/plugins/Others/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!--wow-->
<script src="/app/js/wow.min.js"></script>
<!--backend js-->
<script src="/app/js/backend.js"></script>

