<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuwang.wbms.mapper.AuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shuwang.wbms.entity.AuthEntity">
        <id column="authName" property="authName" />
        <result column="desc" property="desc" />
        <result column="state" property="state" />
    </resultMap>

    <select id="noneAuthList" resultMap="BaseResultMap">
        select * from authorities where not EXISTS(select 1 from role_auth where role_auth.authName = authorities.authName and role_auth.roleName = #{roleName})
    </select>
</mapper>
