<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuwang.wbms.mapper.CaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shuwang.wbms.entity.CaseEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="contents" property="contents" />
        <result column="img" property="img" />
        <result column="class1" property="class1" />
        <result column="class2" property="class2" />
    </resultMap>

</mapper>
