<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuwang.wbms.mapper.SysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shuwang.wbms.entity.SysConfigEntity">
        <id column="id" property="id" />
        <result column="webName" property="webName" />
        <result column="icon" property="icon" />
        <result column="logo" property="logo" />
        <result column="sharesName" property="sharesName" />
        <result column="sharesCode" property="sharesCode" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="licensing" property="licensing" />
    </resultMap>

</mapper>
