.sidebar-menu li>a>.pull-right-container{
    margin-top: -8px;
}

#cke_editor{
    width: 100%;
}

img{
    max-width: 99%;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.img-item{
    width: 120px;
    height: 120px;
    opacity: .9;
    float: left;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #d7d7d7;
    margin: 5px;
    cursor: pointer;
    text-align: -webkit-match-parent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img-item:hover{
    z-index: 9999;
    opacity: 1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: #1d7dd8;
}

.widget-image-meta{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    line-height: 20px;
    background: #000;
    opacity: 0.3;
    color: #fff;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

#img-list{
    min-height: 400px;
}

.pagination>li>a:hover{
    cursor: pointer;
}