img {
    max-width: 100%;
}

div {
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}

.longtext {
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}

@keyframes q-action {
    0% {
        transform: rotateZ(0) rotateX(0) rotateY(0);
        /*background-color: green;*/
        /*top:0*/
    }

    50% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(180deg);
        /*background-color: red;*/
        /*top:-100px*/
    }

    100% {
        transform: rotateZ(360deg) rotateX(0) rotateY(0);
        /*background-color: blue;*/
        /*top:-200px;*/
    }
}

@keyframes logo-color {
    0% {
        background-color: #ffffff;
    }

    33% {
        background-color: #efef8f;
    }

    66% {
        background-color: orchid;
    }

    100% {
        background-color: #ffffff;
    }
}

/*===================jump words================*/
.bumpy-char {
    line-height: 3.4em;
    position: relative;
}

/*========================delay for animated==============================*/

.delay300{
    animation-delay: 300ms;
}
.delay600{
    animation-delay: 600ms;
}
.delay900{
    animation-delay: 900ms;
}
.delay1200{
    animation-delay: 1200ms;
}
.delay1500{
    animation-delay: 1500ms;
}
.delay2000{
    animation-delay: 2000ms;
}
.delay2500{
    animation-delay: 2500ms;
}
.delay3000{
    animation-delay: 3000ms;
}

/*=====================header css========================*/
.c-logo {
    width: 130px;
    height: 60px;
    opacity: .85;
}

.navbar-header .shares-code {
    display: block;
    float: left;
    padding: 19px 0 0 5px;
}

.navbar-header .shares-code > p {
    margin: 0;
    font-size: 12px;
    line-height: 22px;
    padding: 0;
}

.shares-code p {
    text-align: left;
    color: crimson;
}

/*=======================index css=========================*/

.index-c {
    padding: 3vw 0;
}

.index-c .content-header > img{
    max-width: 60vw;
}

.index-m {
    padding: 7vw 20vw;
}

.img-title {
    padding-bottom: 2vw;
}

.cert{
}

.cert-icon {
    /*background-image: ;*/
    /*background-color: red;*/
    width: 18vw;
    height: 18vw;
    /*max-width: 228px;*/
    max-height: 228px;
}

.cert-icon-sub {
    margin: 0 auto;
    /*background-color: blue;*/
    background-image: url('/images/index/rosh-icon.png');
    background-size: cover;
    width: 14vw;
    height: 16vw;
    max-width: 177px;
    max-height: 202px
}

.cert-icon-sub:hover{
    animation: rubberBand 1s infinite;
    animation-delay: 2s;
}

.intro {
    background-color: #e9f9f4;
}

.module1-back {
    background-image: url('/images/index/module1-back.jpg');
    background-size: cover;
}

.centre {
    width: 25vw;
    margin: 0 auto;
}

.centre-image {
    width: 15vw;
    height: 21vw;
    margin: 0 auto;
    background-image: url('/images/index/product1.png');
    background-size: cover;
    cursor: pointer;
}

@media (max-width: 768px) {
    .centre-image{
        width: 24vw;
        height: 34vw;
    }
}

.centre-image:hover{
    animation:pulse 2s;
}

.centre-desc {

}

.news {
    background-color: #e9f9f4;
    display: flex;
}

.news-sub {
    /*width: 30vw;*/
    margin: 0 auto;
    text-align: center;

}

.news-list {
    margin: 2vw 0;
    display: flex;
    padding-left: 6vw;
    border-bottom: 1px dotted snow;
}

.news-title {
    padding-left: 3vw;
    cursor: pointer;
}

.dd {
    font-size: 2.7em;
    font-weight: 800;
    margin: 0;
    color: #182f0d;
}

.yyyy-mm {
    font-size: 1.3em;
    color: #b35e14;
    margin-bottom: 0;
}

/*========================case==========================*/

.case-list {
    opacity: 0.9;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
    background-color: white;
    top: 0;
    transition: all .5s;
}

.case-list:hover {
    /*z-index: 9999;*/
    opacity: 1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #1d7dd8;
    cursor: pointer;
    top: 3px;
}

.box-footer {
    background-color: inherit;
}

.case .widget-user .widget-user-header {
    height: 18vw;
}

.case .widget-user .box-footer {
    padding-top: 10px;
}

@media screen and (min-width: 1400px) {
    .case .widget-user .widget-user-header {
        height: 16vw;
    }
}

@media screen and (max-width: 750px) {
    .col-xs-3.case {
        width: 33%;
    }

    .case .widget-user .box-footer {
        padding: 0;
    }

}

@media screen and (max-width: 600px) {

    .case .widget-user .widget-user-header {
        height: 28vw;
    }

    .col-xs-3.case {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .col-xs-3.case {
        width: 100%
    }
}

/*==========================product=========================*/

.product {
    cursor: pointer;
}

.product-list.widget-user .box-footer {
    padding: 0;
}

.product-list.box {
    background: inherit;
}

@media screen and (max-width: 957px) {

    .product.col-xs-4 {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .product.col-xs-4 {
        width: 100%;
    }
}

/*=============================product page=====================*/
.product-icon {
    width: 24vw;
    height: 23vw;
    /*max-height: 228px;*/
}

.product-icon > p {
    font-size: 1.8em;
    color: darkred;
}

.product-icon-sub {
    margin: 0 auto;
    /*background-color: blue;*/
    /*background-image: url('/images/product/product-icon.png');*/
    background-size: cover;
    width: 13vw;
    height: 14.6vw;
    max-width: 177px;
    max-height: 202px
}

.product-icon-sub:hover{
    animation:pulse 1s;
}

.product-m {
    overflow: hidden;
    padding: 3vw 0;
    text-align: center;
}

.product-m-s {
    margin: 0 auto;
}

.product-p {
    text-align: left;
    padding-left: 5vw;
}

.product-p > h3 {
    padding: 2.5vw 0;
    font-size: 2.2em;
}

.product-p > p {
    font-size: 1.3em;
    line-height: 1.6em;
    color: #848484;
}

.product-p > ul > li {
    font-size: 1.3em;
    padding: .3vw;
    color: #848484;
}

.product-m .row {
    display: flex;
    align-items: center;
}

.product-b {
    height: 34vw;
    min-height: 300px;
    background-size: cover;
}

@media (max-width: 768px) {
    .product-m .row {
        display: block;
    }

    .product-m img{
        max-width: 60%;
    }

    .product-icon > p{
        font-size: 1em;
        color: darkred;
    }
    .product-p {
        padding: 2vw;
    }

    .product-p > ul > li{
        text-align: left;
    }

    .product-p > p{
        text-align: center;
    }

    .product-p > h3, .product-m h1, .custom-col > h1 {
        font-size: 20px;
        margin-top: 0;
        text-align: center;
        /*white-space: nowrap;*/
        /*text-overflow: ellipsis;*/
        margin-bottom: 0;
        color: #444;
        animation-duration: .6s;
        animation-name: fade;
        animation-timing-function: linear;
        text-shadow: rgba(0, 0, 0, .15) 0 0 1px;
        font-weight: 400;
        line-height: 1.2;
        font-family: 'Open Sans', sans-serif;
    }

    .product-p > p, .product-p > ul > li, .product-m h2 {
        height: auto;
        /*overflow: auto;*/
        color: #848484;
        font-size: 13px;
        line-height: 24px;
        width: 100%;
        /*margin: 10px 0 0 11px;*/
        box-sizing: border-box;
        /*text-align: center;*/
    }
}

.orderBehind {
    order: 99;
}

.product-m-c {
    background-color: lavender;
}

.orderBefore {
    order: -99;
}

.order1 {
    order: 1;
}

.order-1 {
    order: -1;
}

/*=======================submenu css=======================*/
.custom-submenu > li {
    margin: 5px;
    padding: 10px;
    float: left;
    list-style: none;
    display: inline-block;
}

.custom-submenu > li > a {
    color: #888888;
    padding: 14px;
}

.custom-submenu > .active > a, .custom-submenu > .active > a:hover, .custom-submenu > .active > a:focus {
    color: #c52d2f;
    border-bottom: solid 3px #c52d2f99;
}

.custom-submenu > li > a:hover {
    color: #c52d2f;
    border-bottom: solid 3px #c52d2f99;
    transition: all .3s;
}

.custom-submenu > li:hover, .custom-submenu > li:focus {
    /*border-bottom: solid 3px #c52d2f;*/
}

.custom-submenu {
    /*float: left;*/
    overflow: hidden;
    margin-bottom: -2px;
}

.custom-submenu:after {
    clear: both;
}

@media (max-width: 600px) {
    .custom-submenu > li, .custom-submenu > li > a, .content-header{
        padding: 0;
        /*transition: all 1s;*/
    }

    ul.custom-submenu {
        padding-left: 0;
        margin-bottom: -6px;
    }

}

/*========================detail=====================*/
.detail {
    text-align: left;
    padding-left: 30px;
}

.detail h4 , .detail-body > p, .detail-foot{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*======================footer===================*/
#footer a {
    color: #fff;
}

#footer a:hover {
    color: #c52d2f;
}

#footer {
    background-color: #2e2e2e;
}

#footer p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: white;
}

/*=====================modify system css=========================*/

.content-wrapper{
    /*background-color: white;*/
}

.skin-black-light .main-header .navbar .nav > li > a {
    /*color: #dddddd;*/
}

.skin-black-light {
    background-color: #f1f1f1;
}

.skin-black-light .main-header .navbar .nav > li > a:hover, .skin-black-light .main-header .navbar .nav > li > a:active, .skin-black-light .main-header .navbar .nav > li > a:focus, .skin-black-light .main-header .navbar .nav .open > a, .skin-black-light .main-header .navbar .nav .open > a:hover, .skin-black-light .main-header .navbar .nav .open > a:focus, .skin-black-light .main-header .navbar .nav > .active > a {
    background-color: #c52d2f8f;
    color: snow;
    box-shadow: 0 0 10px rgba(25, 0, 0, 0.3);
    animation: swing .5s cubic-bezier(0.68, 0.15, 0.69, 0.11);
    animation-delay:.2s;
}

.skin-black-light .main-header .navbar .navbar-nav > li > a {
    border: none;
}

.skin-black-light .main-header .navbar-brand {
    color: #f1f1f1;
    border-right: none;
}

.navbar-brand {
    height: auto;
    padding: 0 0;
}

.navbar-nav {
    /*margin-top: 12px;*/
    margin-top: 22px;
}

.navbar-nav > li {
    margin-left: 10px;
    /*padding-bottom: 28px;*/
    padding-bottom: 15px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    /* background: #151515; */
    /*background: #f1f1f1;*/
    /*padding: 15px 0;*/
    padding: 4px 0;
    padding-bottom: 0;
}

.navbar-collapse {
    border-top: 0;
    padding-bottom: 0;
}

.navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    /* color: #fff; */
    color: #333333;
    line-height: 24px;
    display: inline-block;
}

.navbar-nav > li > a:hover {
    /*background-color: #c52d2f;*/
    /*color: #fff;*/
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    background-color: #c52d2f;
    color: #fff;
}

.navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    /* color: #fff; */
    color: #333333;
    line-height: 24px;
    display: inline-block;
}

/*============================nav slider css============================*/
.sidebar-nav .dropdown-menu > li > a {
    color: teal;
}

.skin-black-light .main-header .navbar .sidebar-nav > li > a {
    color: #dddddd;
}

.nav .open > a {
    background-color: transparent;
}

.nav .open > a:hover {
    background-color: transparent;
}

.nav .open > a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#nav-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}

#nav-wrapper.toggled {
    padding-left: 220px;
}

#nav-wrapper.toggled #sidebar-wrapper {
    /*width: 220px;*/
    width: 150px;
}

#nav-wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 150px;
    margin-left: -150px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    /*width: 220px;*/
    width: 150px;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #402d5c;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #4c366d;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #583e7e;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #64468f;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #704fa0;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #7c5aae;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #8a6cb6;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #987dbf;
}

.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav > li > a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}