/*=====================header css========================*/
.c-logo{
    width: 130px;
    height: 60px;
}

.navbar-header .shares-code{
    display: block;
    float:left;
    padding: 19px 0 0 5px;
}

.navbar-header .shares-code > p{
    margin: 0;
    font-size:12px;
    line-height: 22px;
    padding: 0;
}

/*=======================submenu css=======================*/
.custom-submenu > li {
    margin: 5px;
    padding: 10px;
    float: left;
    list-style: none;
    display: inline-block;
}

.custom-submenu > li > a{
    color: #888888;
    padding: 14px;
}

.custom-submenu > .active > a, .custom-submenu > .active > a:hover, .custom-submenu > .active > a:focus{
    color: #c52d2f;
    border-bottom: solid 3px #c52d2f;
}

.custom-submenu > li > a:hover {
    color: #c52d2f;
    border-bottom: solid 3px #c52d2f;
}

.custom-submenu > li:hover, .custom-submenu > li:focus{
    /*border-bottom: solid 3px #c52d2f;*/
}

.custom-submenu{
    /*float: left;*/
    overflow: hidden;
}
.custom-submenu:after{
    clear: both;
}
/*======================footer===================*/
#footer a {
    color: #fff;
}

#footer a:hover {
    color: #c52d2f;
}

#footer{
    background-color: #2e2e2e;
}

#footer p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: white;
}

/*=====================modify system css=========================*/

.skin-blank{
    background-color: #f1f1f1;
}

.navbar-brand{
    height: auto;
    padding: 0 0;
}

.navbar-nav{
    margin-top: 12px;
}

.navbar-nav>li {
    margin-left: 10px;
    padding-bottom: 28px;
}


.navbar {
    border-radius: 0;
    margin-bottom: 0;
    /* background: #151515; */
    /*background: #f1f1f1;*/
    padding: 15px 0;
    padding-bottom: 0;
}

.navbar-collapse{
    border-top: 0;
    padding-bottom: 0;
}

.navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    /* color: #fff; */
    color: #333333;
    line-height: 24px;
    display: inline-block;
}

.navbar-nav > li > a:hover {
    background-color: #c52d2f;
    color: #fff;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    background-color: #c52d2f;
    color: #fff;
}

.navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    /* color: #fff; */
    color: #333333;
    line-height: 24px;
    display: inline-block;
}

/*============================nav slider css============================*/
.nav .open > a {
    background-color: transparent;
}
.nav .open > a:hover {
    background-color: transparent;
}
.nav .open > a:focus {
    background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#nav-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}
#nav-wrapper.toggled {
    padding-left: 220px;
}
#nav-wrapper.toggled #sidebar-wrapper {
    /*width: 220px;*/
    width: 150px;
}
#nav-wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
}
#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}
#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}
.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}
.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}
.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #402d5c;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #4c366d;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #583e7e;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #64468f;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #704fa0;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #7c5aae;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #8a6cb6;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #987dbf;
}
.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}
.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}