/*===================This css is used for displaying pages ======================*/

/*---------------------------about------------------------*/
.a-img-div > div {
    padding: 3vw;
}

.a-p-div > p {
    color: grey;
    font-size: 1.3em;
    padding-bottom: 3vw;
    text-indent:2em;
}

.a-p-div1>p{
    font-size: 1.3em;
    padding-bottom: 3vw;
}

.a-h-div{
    padding-bottom: 2vw;
}

.a-h-div>h1{
    color:#c52d2f;
}

.display, .display div{
    overflow: visible;
}

.credit-img {
    box-shadow: 1px 8px 20px 3px #6955559c;
    top:0;
    position: relative;
    transition: all 2s cubic-bezier(0.76, 0, 1, -0.11);
}

.credit-img:hover{
    transition: all .5s;
    box-shadow: none;
    top:1vw;
    transition-delay: .2s;
}

.a-img-div1-sub {
    text-align: center;
    padding:3vw 1vw;
    overflow: visible;
}

.custom-col {
    width: 20%;
    position: relative;
    float: left;
}

.custom-col > h1 {
    color: #504848cf;
}

.custom-col > p{
    color: #3e3939ad;
}

@media screen and (max-width: 1200px) {
    .custom-col{
        width: 25%;
    }
}

@media (max-width:1000px) {
    .custom-col{
        width: 33%;
    }
}

@media (max-width: 600px){
    .custom-col{
        width: 50%;
    }
}

@media (max-width: 400px) {
    .custom-col{
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid grey;
    }

    .custom-col > h1 {
        margin: 10px 0;
    }

    .custom-col > p{
        margin: 0 0 4px;
    }
}

/*-------------------------------contact-----------------------------*/
.custom-i {
    width: 100%;
    height: 25vw;
}

.contact-p p{
    padding: 1vw;
    font-size: 1.2em;
}

.contact-p-div>p{
    font-size: 1.2em;
}

#cover{
    position:absolute;left:0px;top:0px;
    background:rgba(0, 0, 0, 0.4);
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:100%;
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display:none;
    z-Index:999;
}


.loader1 {
    display:none;
    font-size:0px;
    padding:0px;
    position: absolute;
    left: 50%;
    z-index: 9999;
    top:50%;
}
.loader1 span {
    vertical-align:middle;
    border-radius:100%;

    display:inline-block;
    width:10px;
    height:10px;
    margin:3px 2px;
    -webkit-animation:loader1 0.8s linear infinite alternate;
    animation:loader1 0.8s linear infinite alternate;
}
.loader1 span:nth-child(1) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
    background:rgba(245, 103, 115,0.6);
}
.loader1 span:nth-child(2) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
    background:rgba(245, 103, 115,0.8);
}
.loader1 span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
    background:rgba(245, 103, 115,1);
}
.loader1 span:nth-child(4) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
    background:rgba(245, 103, 115,0.8);

}
.loader1 span:nth-child(5) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
    background:rgba(245, 103, 115,0.4);
}

@keyframes loader1 {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
}
@-webkit-keyframes loader1 {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
}
