<#include "/common/layout.html"/>
<@head>
</@head>

<@body>
<#include "/common/banner.html"/>

    <div class="content-wrapper">
        <div class="submenu-wrapper">
            <div class="container">
                <#include "/common/subMenu.html"/>
            </div>
        </div>

        <div class="container">
            <section class="content">
                    <#include "/common/case.html"/>
                </section>
        </div>
    </div>
    <!--</form>-->
</@body>

<@javascript>

</@javascript>
