<#include "/common/layout.html">
    <@head>
    <style>
        td{
            border: solid 1px black;
        }
        body{
            text-align: center;
        }
        table{
            margin: 0 auto;
            border: solid 1px;
            border-collapse: collapse;
        }
    </style>
</@head>

<@body>
<#include "/common/banner.html">

<div class="content-wrapper">

    <div class="container">
        <#include "/common/subMenu.html">

        <section class="content">
            <h1>news</h1>

        </section>
    </div>
</div>
<!--</form>-->
</@body>

<@javascript></@javascript>
