<#include "/common/layout.html"/>
<@head>
<style>
    .product-m {
        padding: 3vw 0;
        text-align: center;
    }

    .product-m-s {
        margin: 0 auto;
    }

    .product-p {
        text-align: left;
        padding-left:5vw;
    }

    .product-p>h3{
        padding: 2.5vw 0;
    }

    .product-p>p{
        font-size: 1.3em;
        line-height: 1.6em;
    }

    .product-p li{
        font-size: 1.3em;
        padding: .3vw;
    }

    .product-m .row {
        display: flex;
        align-items: center;
    }

    @media (max-width: 768px) {
        .product-m .row {
            display: block;
        }
    }
</style>
</@head>

<@body>

<div style="min-height:670px">
    <div class="" style="background-image:  url('/images/banner.png');height: 34vw;background-size: cover">
    </div>

    <div class="container">
        <div class="row" style="text-align: center">
            <section class="content" style="display: flex;min-height: 120px">

                <div class="product-icon">
                    <div class="product-icon-sub"></div>
                    <p>60 pieces</p>
                </div>
                <div class="product-icon">
                    <div class="product-icon-sub"></div>
                    <p>60 pieces</p>
                </div>
                <div class="product-icon">
                    <div class="product-icon-sub"></div>
                    <p>60 pieces</p>
                </div>
                <div class="product-icon">
                    <div class="product-icon-sub"></div>
                    <p>60 pieces</p>
                </div>
            </section>
            <button class="btn btn-flat bg-red btn-lg">下载产品资料</button>
        </div>
    </div>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBefore' bgColor=''>
        <img src="/images/product/product1.png">
    </@before>
    <@behind>
        <h3>坚信蜀旺长久品质</h3>
        <ul>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
        </ul>
    </@behind>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBehind' bgColor='product-m-c'>
        <img src="/images/product/product1.png">
    </@before>
    <@behind>
        <h3>更高的功率 更好的空间利用率</h3>
        <p>蜀旺新能源产品提供 270-295W 输出功率等多种选择， 同时采用被钝化技术， 降低串联电阻， 降低功率损耗， 具有更高的转换效率和可靠性</p>
    </@behind>

    <#include "/display/static/bi-module.html"/>
    <@before order=''>
        <img src="/images/product/product1.png">
    </@before>
    <@behind>
        <h3>EVA性能优势</h3>
        <p>高透光EVA胶膜与紫外截止性EVA完美结合，大幅提升组件功率</p>
        <p>高透光EVA胶膜与紫外截止性EVA完美结合，大幅提升组件功率</p>
        <p>高透光EVA胶膜与紫外截止性EVA完美结合，大幅提升组件功率</p>
        <p>高透光EVA胶膜与紫外截止性EVA完美结合，大幅提升组件功率</p>
    </@behind>

    <div class="product-m product-m-c">
        <div class="container">
            <div class="col-sm-4">
                <img src="/images/product/Livello4.png">
                <h4>匠心制造 荣耀生活</h4>
                <p>蜀旺新能源光伏组件，助力客户</p>
            </div>
            <div class="col-sm-4">
                <img src="/images/product/Livello6.png">
            </div>
            <div class="col-sm-4">
                <img src="/images/product/Livello6.png">
            </div>
        </div>
    </div>


    <#include "/display/static/bi-module.html"/>
    <@before order='orderBehind'>
        <img src="/images/product/product1.png">
    </@before>
    <@behind>
        <h3>业界领先的基于标称功率的产品质保</h3>
        <ul>
            <li>第一年97.5%</li>
            <li>第一年97.5%</li>
            <li>第一年97.5%</li>
            <li>第一年97.5%</li>
        </ul>
    </@behind>

</div>

<#include "/display/static/product-foot.html"/>

</@body>

<@javascript></@javascript>