<#include "/common/layout.html"/>
<@head>
<style>

</style>
</@head>

<@body>

<div style="min-height:670px">
    <div class="banner animated delay300 wow rotateInUpLeft" style="background-image:  url('/images/product/banner4.png');"></div>

    <#include "/display/static/product-head.html"/>
    <@productHead solar='单晶' pieces='36' power='10-170' effect='17.9' tolerance='0 ~ +5'/>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBefore' bgColor=''>
    <img src="/images/product/mono-36-p1.png">
    </@before>

    <@behind>
    <h3>坚信蜀旺长久品质</h3>
    <ul>
        <li>世界级的晶体硅光伏组件制造商</li>
        <li>首屈一指的产能及领军业界的光伏技术</li>
        <li>采用严格的国际标准质量管理体系：<br>ISO9001:2008,ISO14001:2004 and ISO17025:2005</li>
        <li>施行苛刻的环境测试（盐雾，氨水以及沙暴腐蚀测试）</li>
        <li>长期可靠性测试</li>
        <li>2次EL测试确保组件无隐裂</li>
        <li>世界级的晶体硅光伏组件制造商</li>
    </ul>
    </@behind>

<#include "/display/static/bi-module.html"/>
<@before order='' bgColor='product-m-c'>
<img src="/images/product/eva.png">
</@before>
<@behind>
<h3>EVA性能优势</h3>
<p>高透光EVA胶膜与紫外截止性EVA完美结合，大幅提升组件功率</p>
<p>良好的光学性能，光透率（380-1100mm）> 91%</p>
<p>优异的材料兼容性，与玻璃、金属、背板等材料有良好的黏结性，并长期保持</p>
<p>最佳的可操作性，易叠放，层压时间短，效率高</p>
</@behind>

<div class="product-m">
    <div class="container">
        <div class="col-sm-4 animated delay600 wow bounceInDown">
            <img src="/images/product/Livello4.png">
            <h4>匠心制造 荣耀生活</h4>
            <p>蜀旺新能源光伏组件，助力客户<br>降本增效，必将在光伏+项目<br>及优秀电站项目中得<br>到充分应用</p>
        </div>
        <div class="col-sm-4 animated delay900 wow slideInRight" style="padding: 2vw">
            <img src="/images/product/var2.png">
        </div>
        <div class="col-sm-4  animated delay1200 wow slideInRight" style="padding: 2vw">
            <img src="/images/product/var1.png">
        </div>
    </div>
</div>

</div>

<#include "/display/static/product-foot.html"/>

</@body>

<@javascript>

</@javascript>