<#include "/common/layout.html"/>
<@head>
<style>

</style>
</@head>

<@body>

<div style="min-height:670px">
    <div class="banner animated delay300 wow rotateInUpLeft" style="background-image:  url('/images/product/banner3.png');"></div>

   <#include "/display/static/product-head.html"/>
    <@productHead solar='单晶' pieces='60' power='5-360' effect='17.4' tolerance='0 ~ +5'/>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBefore' bgColor=''>
        <img src="/images/product/product1.png">
    </@before>
    <@behind>
        <h3>坚信蜀旺长久品质</h3>
        <ul>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>首屈一指的产能及领军业界的光伏技术</li>
            <li>采用严格的国际标准质量管理体系：<br>ISO9001:2008,ISO14001:2004 and ISO17025:2005</li>
            <li>施行苛刻的环境测试（盐雾，氨水以及沙暴腐蚀测试）</li>
            <li>长期可靠性测试</li>
            <li>2次EL测试确保组件无隐裂</li>
            <li>世界级的晶体硅光伏组件制造商</li>
        </ul>
    </@behind>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBehind' bgColor='product-m-c'>
        <img src="/images/product/mono-60-p2.png">
    </@before>
    <@behind>
        <h3>更高的功率 更好的空间利用率</h3>
        <p>蜀旺新能源产品提供 270-295W 输出功率等多种选择， 同时采用被钝化技术， 降低串联电阻， 降低功率损耗， 具有更高的转换效率和可靠性。更高的开路电压和电流，增加吸收光能的能力
        提高组件的转换效率和功率，是目前具有最高转换效率和功率的组件之一，并具备与所有主流系统配件兼容的领先特性。</p>
    </@behind>

    <#include "/display/static/bi-module.html"/>
    <@before order=''>
        <img src="/images/product/eva.png">
    </@before>
    <@behind>
        <h3>EVA性能优势</h3>
        <p>高透光EVA胶膜与紫外截止性EVA完美结合，大幅提升组件功率</p>
        <p>良好的光学性能，光透率（380-1100mm）> 91%</p>
        <p>优异的材料兼容性，与玻璃、金属、背板等材料有良好的黏结性，并长期保持</p>
        <p>最佳的可操作性，易叠放，层压时间短，效率高</p>
    </@behind>

    <div class="product-m product-m-c">
        <div class="container">
            <div class="col-sm-4 animated delay600 wow bounceInDown">
                <img src="/images/product/Livello4.png">
                <h4>匠心制造 荣耀生活</h4>
                <p>蜀旺新能源光伏组件，助力客户<br>降本增效，必将在光伏+项目<br>及优秀电站项目中得<br>到充分应用</p>
            </div>
            <div class="col-sm-4 animated delay900 wow slideInRight" style="padding: 2vw">
                <img src="/images/product/Livello6.png">
            </div>
            <div class="col-sm-4  animated delay1200 wow slideInRight" style="padding: 2vw">
                <img src="/images/product/green.png">
            </div>
        </div>
    </div>


    <#include "/display/static/bi-module.html"/>
    <@before order='orderBehind'>
        <img src="/images/product/warranty.png">
    </@before>
    <@behind>
        <h3>业界领先的基于标称功率的产品质保</h3>
        <ul>
            <li>第一年97.5%，其后第二年到第二五年，每年最大衰减值0.7，至质量保证期开始日的第25年以80.7%的比例结束</li>
            <li>12年产品质保</li>
            <li>25年线性性能质保</li>
        </ul>
    </@behind>

</div>

<#include "/display/static/product-foot.html"/>

</@body>

<@javascript>

</@javascript>