<#include "/common/layout.html"/>
<@head>
<style>

</style>
</@head>

<@body>

<div style="min-height:670px">
    <div class="" style="background-image:  url('/images/banner.png');height: 34vw;background-size: cover">
    </div>

   <#include "/display/static/product-head.html"/>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBehind' bgColor=''>
        <img src="/images/product/product1.png">
    </@before>
    <@behind>
        <h3>从心定义，回归本色</h3>
        <ul>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
            <li>世界级的晶体硅光伏组件制造商</li>
        </ul>
    </@behind>

    <#include "/display/static/bi-module.html"/>
    <@before order='' bgColor='product-m-c'>
        <img src="/images/product/box.png">
    </@before>
    <@behind>
        <h3>接线盒&连接器</h3>
        <p>大电流， 高电压承受能力</p>
        <p>较低的接触电阻防护达到</p>
        <p>卓越的高低温，防水，抗紫外线等性能</p>
    </@behind>

    <div class="product-m product-b" style="background-image: url('/images/product/product-bg.png')"></div>

    <div class="product-m">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 product-p">
                <h1>大型地面电站的理想选择</h1>
                <p>单晶72片大功率光伏组件为大型项目安装提供了行业最值得信赖的解决方案。单晶72片大功率光伏组件有着与蜀旺其他组件同等严格的质量管控和测试标准</p>
            </div>
        </div>
    </div>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBehind'>
        <img src="/images/product/warranty.png">
    </@before>
    <@behind>
        <h3>业界领先的基于标称功率的产品质保</h3>
        <ul>
            <li>第一年97.5%</li>
            <li>第一年97.5%</li>
            <li>第一年97.5%</li>
            <li>第一年97.5%</li>
        </ul>
    </@behind>

</div>

<#include "/display/static/product-foot.html"/>

</@body>

<@javascript></@javascript>