<#include "/common/layout.html"/>
<@head>
<style>

</style>
</@head>

<@body>

<div style="min-height:670px">
    <div class="animated delay300 wow rotateInUpRight" style="background-image:  url('/images/product/banner3.png');height: 34vw;background-size: cover">
    </div>

   <#include "/display/static/product-head.html"/>
    <@productHead solar='多晶' pieces='72' power='5-360' effect='17.4' tolerance='0 ~ +5'/>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBehind' bgColor=''>
        <img src="/images/product/poly-60-p1.png">
    </@before>
    <@behind>
        <h3 class="">从<span class="jumpingN">心</span>定义，回归本色</h3>
        <p>我们关注到更加简约的使用体验</p>
        <p>重新定义了更加符合光伏发电系统使用太阳能电池板的外观</p>
        <p>蜀旺太阳能采用统一的深黑色单晶硅电池片</p>
        <p>具有美观、高效、质量可靠的优点</p>
    </@behind>

    <#include "/display/static/bi-module.html"/>
    <@before order='' bgColor='product-m-c'>
        <img src="/images/product/box.png">
    </@before>
    <@behind>
        <h3 class="">接线盒&amp;连接器</h3>
        <p>大电流， 高电压承受能力</p>
        <p>较低的接触电阻防护达到IP67</p>
        <p>卓越的高低温，防水，抗紫外线等性能</p>
        <p>适合长期户外使用</p>
        <p>长期使用寿命</p>
        <p>独创的全灌胶接线盒 </p>
        <p>密封性能优异</p>
    </@behind>

    <div class="product-m product-b animated delay300 duration2 wow slideInRight" style="background-image: url('/images/product/right-bg.png');background-position:center;display: flex;align-items: center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 product-p animated delay1500 wow slideInLeft">
                    <h3 class="">比专业更近<span class="jumpingN">一</span>步</h3>
                    <p>经过先进工业切片技术，品质卓越，坚固耐用</p>
                    <p>确保高效的光电转换能力</p>
                    <p>一个让你尽情享用的艺术品</p>
                    <p>让您尽快得到投资回报</p>
                </div>
            </div>
        </div>
    </div>

    <div class="product-m product-b animated delay300 duration2 wow slideInLeft" style="background-image: url('/images/product/left-full-bg.png');background-position: center;display: flex;align-items: center">
        <div class="container">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 product-p animated delay1500 wow slideInRight">
                <h3 class="jumpingN longtext">大型地面电站的理想选择</h3>
                <p>单晶72片大功率光伏组件为大型项目安装提供了最值得信赖的解决方案。单晶72片大功率光伏组件有着与蜀旺其他组件同等严格的质量管理和测试标准，
                    单晶硅组件因其更高的转换效率而使系统成本更低。
                    此外，单晶硅72片光伏组件在同一组串中增加50%的组件数量，更大的降低了BOS成本。</p>
            </div>
        </div>
        </div>
    </div>

    <#include "/display/static/bi-module.html"/>
    <@before order='orderBehind'>
        <img src="/images/product/warranty.png">
    </@before>
    <@behind>
        <h3 class="jumpingN">业界领先的基于标称功率的产品质保</h3>
        <ul>
            <li>第一年97.5%，其后第二年到第二五年，每年最大衰减值0.7，至质量保证期开始日的第25年以80.7%的比例结束</li>
            <li>12年产品质保</li>
            <li>25年线性性能质保</li>
            <li>施行苛刻的环境测试（盐雾，氨水以及沙暴腐蚀测试）</li>
            <li>长期可靠性测试</li>
            <li>2次EL测试确保组件无隐裂</li>
        </ul>
    </@behind>

</div>

<#include "/display/static/product-foot.html"/>

</@body>

<@javascript></@javascript>