<#macro productHead solar pieces power effect tolerance>
    <div class="container">
        <div class="row" style="text-align: center">
            <section class="content" style="display: flex;min-height: 120px">

                <div class="product-icon">
                    <p class="">${solar}组件</p>
                    <div class="product-icon-sub"
                         style="background-image: url('/images/product/product-icon1.png');"></div>
                    <p class="">${pieces} 片</p>
                </div>
                <div class="product-icon">
                    <p class="">输出功率</p>
                    <div class="product-icon-sub"
                         style="background-image: url('/images/product/product-icon2.png');"></div>
                    <p class="">${power} W</p>

                </div>
                <div class="product-icon">
                    <p class="">最高效率</p>
                    <div class="product-icon-sub"
                         style="background-image: url('/images/product/product-icon3.png');"></div>
                    <p class="">${effect} %</p>
                </div>
                <div class="product-icon">
                    <p class="">功率公差</p>
                    <div class="product-icon-sub"
                         style="background-image: url('/images/product/product-icon4.png');"></div>
                    <p class="">${tolerance} W</p>
                </div>
            </section>
            <button class="btn btn-flat bg-red btn-lg">下载产品资料</button>
        </div>
    </div>
</#macro>