<div class="container">
    <div class="row" style="text-align: center">
        <section class="content" style="display: flex;min-height: 120px">

            <div class="product-icon">
                <div class="product-icon-sub"></div>
                <p class="hidden-xs">60 pieces</p>
            </div>
            <div class="product-icon">
                <div class="product-icon-sub"></div>
                <p class="hidden-xs">60 pieces</p>
            </div>
            <div class="product-icon">
                <div class="product-icon-sub"></div>
                <p class="hidden-xs">60 pieces</p>
            </div>
            <div class="product-icon">
                <div class="product-icon-sub"></div>
                <p class="hidden-xs">60 pieces</p>
            </div>
        </section>
        <button class="btn btn-flat bg-red btn-lg">下载产品资料</button>
    </div>
</div>