<#macro productHead solar pieces power effect tolerance>
    <div class="container">
        <div class="row" style="text-align: center">
            <section class="content" style="display: flex;min-height: 120px">

                <div class="product-icon">
                    <p class="animated delay600 wow bounceInDown">${solar}组件</p>
                    <div class="product-icon-sub animated delay300 wow slideInUp"
                         style="background-image: url('/images/product/product-icon1.png');"></div>
                    <p class="animated delay900 wow bounceInUp">${pieces} 片</p>
                </div>
                <div class="product-icon">
                    <p class="animated delay900 wow bounceInDown">输出功率</p>
                    <div class="product-icon-sub animated delay600 wow slideInUp"
                         style="background-image: url('/images/product/product-icon2.png');"></div>
                    <p class="animated delay1200 wow bounceInUp">${power} W</p>

                </div>
                <div class="product-icon">
                    <p class="animated delay1200 wow bounceInDown">最高效率</p>
                    <div class="product-icon-sub animated delay900 wow slideInUp"
                         style="background-image: url('/images/product/product-icon3.png');"></div>
                    <p class="animated delay1500 wow bounceInUp">${effect} %</p>
                </div>
                <div class="product-icon">
                    <p class="animated delay1500 wow bounceInDown">功率公差</p>
                    <div class="product-icon-sub animated delay1200 wow slideInUp"
                         style="background-image: url('/images/product/product-icon4.png');"></div>
                    <p class="animated delay2000 wow bounceInUp">${tolerance} W</p>
                </div>
            </section>
            <button class="btn btn-flat bg-red animated delay2500 wow rotateIn">下载产品资料</button>
        </div>
    </div>
</#macro>