<div class="row">
    <#if detailDatagram??>
        <#list detailDatagram.records as case>
            <div class="col-xs-3 case">
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user case-list animated pulse" onclick="window.open('/${case.class1}/${case.class2}/${case.id}','_self')">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-black"
                         style="background: url('${case.img!}') center center;background-size: cover">
                        <h3 class="widget-user-username">${case.name!}</h3>
                        <!--<h5 class="widget-user-desc">Web Designer</h5>-->
                    </div>

                    <div class="box-footer case-footer">
                        <div class="row">

                            <!-- /.col -->
                                <div class="description-block">
                                    <h5 class="description-header">${case.name!}</h5>
                                    <p class="description-text">${case.description!}</p>
                                </div>
                                <!-- /.description-block -->

                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
        </#list>
    </#if>

    <#if case??>
        ${case.contents}
        <div class="" style="text-align: center;padding-top: 1vw">
            <#include "/common/returnList.html"/>
        </div>
    </#if>
</div>

<div class="row">
    <div class="box-footer " style="border-top: none;">
        <#if detailDatagram??>
            <div class="col-md-6 hidden-xs hidden-sm">
                <#include "/common/paginateBar.html" />
                <@paginate pageData=detailDatagram actionUrl="${actionUrl}" urlParas="${s!}"  />
            </div>
            <div class="col-md-6">
                <#include "/common/paginate.html" />
                <@paginate currentPage=detailDatagram.getCurrent() totalPage=detailDatagram.getPages() actionUrl="${actionUrl}" urlParas="${sz!}${s!}"  />
            </div>
        </#if>
    </div>
</div>