<div class="row">
    <!--info list area-->
    <section class="col-lg-9 connectedSortable ui-sortable">
        <div class="box box-warning">
            <div class="box-header"></div>
            <div class="box-body">

                <!--detail list-->
                <#if detailDatagram??>
                    <#list detailDatagram.records as detail>
                        <div class="detail-list animated delay600 wow fadeInUp">
                            <div class="detail-list-head"><h4><a href="/${detail.class1}/${detail.class2}/${detail.id}">
                                ${detail.title}</a></h4></div>
                            <div class="detail-list-desc"><p>${detail.description}</p></div>
                            <div class="detail-list-foot"><span class="label label-default"><i class="fa fa fa-calendar"></i> ${detail.updateDate}  </span><span class="label label-info"><i class="fa fa-user"></i> ${detail.publisher}</span><span class="label label-success"> ${detail.clicks} <i class="fa fa-hand-pointer-o animated bounce"></i></span>
                            </div>
                            <hr style="width: 80%"/>
                        </div>
                    </#list>
                </#if>

                <!--detail content-->
                <#if detail??>
                    <div class="detail-head">
                        <h2 style="margin-top: 5px">${detail.title}</h2>
                        <div><span>发布时间：${detail.updateDate}</span><span>来源：${detail.publisher}</span></div>
                    </div>

                    <div class="detail-body">${detail.content}</div>

                    <div class="detail-foot" style="text-align: center;padding-top: 1vw">
                        <!--<a href="/${detail.class1}/${detail.class2}"></a>-->
                        <#include "/common/returnList.html"/>
                    </div>
                </#if>

            </div>

            <div class="box-footer " style="border-top: none">
                <#if detailDatagram??>
                <div class="col-md-6 hidden-xs hidden-sm">
                    <#include "/common/paginateBar.html" />
                    <@paginate pageData=detailDatagram actionUrl="${actionUrl}" urlParas="${s!}"  />
                </div>
                <div class="col-md-6">
                    <#include "/common/paginate.html" />
                    <@paginate currentPage=detailDatagram.getCurrent() totalPage=detailDatagram.getPages() actionUrl="${actionUrl}" urlParas="${sz!}${s!}"  />
                </div>
                </#if>
            </div>
        </div>
    </section>

    <section class="col-lg-3 connectedSortable ui-sortable">
        <div class="box box-primary">

            <div class="box-header with-border">
                <form action="${actionUrl}" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="s" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                <button type="submit" name="" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
            </div>
            <!-- /.box-header -->

            <!-- /.box-body -->
            <div class="box-body" style="text-align: center">
                <ul class="products-list product-list-in-box">
                    <!--                    <li class="item">
                                            <div class="product-img">
                                                <img src="dist/img/default-50x50.gif" alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">Samsung TV
                                                    <span class="label label-warning pull-right">$1800</span></a>
                                                <span class="product-description">
                                              Samsung 32" 1080p 60Hz LED Smart HDTV.
                                            </span>
                                            </div>
                                        </li>-->
                    <#if subMenus1??>
                        <#list subMenus1 as subMenu>
                            <!-- /.item -->
                            <#if subMenu.contentType == 'info'>
                            <li class="item">
                                <div class="">
                                    <a href="${subMenu.url}" class="product-title">${subMenu.menuName}</a>
                                </div>
                            </li>
                            </#if>
                        </#list>
                    </#if>
                </ul>
            </div>
            <!-- /.box-body -->

            <!--<div class="box-footer text-center">
                <a href="javascript:void(0)" class="uppercase">View All Products</a>
            </div>-->
            <!-- /.box-footer -->
        </div>
    </section>
</div>
