 <footer class="main-footer" style="background-color: #2e2e2e">
    <!--<div class="container">-->
        <!--<strong>Copyright © 2014-2018 <a href="http://www.swkj.net.cn">Sichuan Shu Wang New Energy Co., Ltd.</a>.</strong> All rights-->
        <!--reserved.-->
    <!--</div>-->
     <section id="footer" class="midnight-blue">
         <div class="container">
             <div class="row text-center">
                 <!--<a href="index.html" class="customer-link">首 页&nbsp;&nbsp;|&nbsp;&nbsp;</a>-->
                 <!--<a href="about-sw.html" class="customer-link">关于蜀旺&nbsp;&nbsp;|&nbsp;&nbsp;</a>-->
                 <!--<a href="news.html" class="customer-link">新闻中心&nbsp;&nbsp;|&nbsp;&nbsp;</a>-->
                 <!--<a href="product-intro.html" class="customer-link">产品服务&nbsp;&nbsp;|&nbsp;&nbsp;</a>-->
                 <!--<a href="case-new.html" class="customer-link">项目案例&nbsp;&nbsp;|&nbsp;&nbsp;</a>-->
                 <!--<a href="social.html" class="customer-link">社会责任&nbsp;&nbsp;|&nbsp;&nbsp;</a>-->
                 <!--<a href="contact-sw.html" class="customer-link">联系我们</a>-->

                 <#if footMenus>
                     <#list footMenus as footMenu>
                         <a href="${footMenu.url}" class="customer-link">${footMenu.menuName}&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                     </#list>
                 </#if>

                 <br>

                 <div class="hidden-xs" style="overflow:visible;">
                     <img id="qr-code" alt="二维码" title="点击隐藏二维码" src="/images/scan.png"
                          style="margin:30px 0;cursor: pointer;max-width: 200px;">
                     <!--<img class="wow" data-wow-delay="1000ms" data-wow-duration="1000ms" id="qr-code" alt="二维码"-->
                     <!--title="点击隐藏二维码" src="images/qr-code-sw.jpg"-->
                     <!--style="margin:30px 0;cursor: pointer;max-width: 200px;">-->
                 </div>

                 <p onclick="window.location.href='tel://0816-2302374'">${config.phone}</p>
                 <p>${config.email}</p>
                 <p>${config.licensing}</p>
             </div>

         </div>
         <!-- JiaThis Button BEGIN -->
         <div class="jiathis_style pull-right">
             <a class="jiathis_button_qzone"></a>
             <a class="jiathis_button_tsina"></a>
             <a class="jiathis_button_tqq"></a>
             <a class="jiathis_button_weixin"></a>
             <a class="jiathis_button_copy"></a>
         </div>
         <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
         <!-- JiaThis Button END -->
     </section>

     <script type="text/javascript">

     </script>

 </footer>