<meta name="renderer" content="webkit">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>${(seo.pageTitle)!'蜀旺新能源'}</title>
<meta name="description" content="${(seo.description)!'四川蜀旺新能源股份有限公司 股票代码：838456 创建于2006年，地址位于享誉中外的“西部硅谷”、“中国科技城”──四川绵阳国家级经济技术开发区，是一家专业从事光伏、光热研发及产业化的高新技术企业.的高新技术企业'}">
<meta name="keywords" content="${(seo.keywords)!'蜀旺,太阳能电池板,太阳能发电,太阳能路灯,太阳能热水器,838456'}">
<meta name="author" content="${(seo.author)!'蜀旺新能源'}">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/plugins/Ionicons/css/ionicons.min.css">

<!--jquery mobile-->
<!--<link rel="stylesheet" href="/plugins/jquery.mobile/jquery.mobile-1.4.5.css">-->
<!-- Theme style -->
<link rel="stylesheet" href="/app/css/AdminLTE.min.css">
<!--skin-->
<link rel="stylesheet" href="/app/css/skins/_all-skins.min.css">
<!--animate-->
<link rel="stylesheet" href="/app/css/animate.min.css">
<!--custom-->
<link rel="stylesheet" href="/app/css/custom.css">
<!--ico-->
<link href="${(config.icon)!'/images/favicon.ico'}" rel="icon" type="image/x-icon" />
<!--specific-->
<link rel="stylesheet" href="/app/css/specific.css" >
<!--jq-->
<!-- jQuery -->
<script src="/plugins/jquery/dist/jquery.min.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->