<header class="main-header">
    <nav class="navbar navbar-static-top" style="">
        <div class="container">
            <div class="navbar-header" style="overflow: visible">
                <!--<a href="/index" class="navbar-brand" style="font-variant: small-caps">S<b>hu</b>W<b>ang</b></a>-->
                <a href="/index" class="navbar-brand"><img class="c-logo" src="${config.logo}"></a>
                <button id="phone-menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="shares-code">

                    <#if config.sharesName != "">
                    <p>股票简称：${config.sharesName}</p>
                    </#if>

                    <#if config.sharesCode != "">
                    <p>股票代码：${config.sharesCode}</p>
                    </#if>

                </div>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right hidden-xs" id="navbar-collapse" aria-expanded="true">

                <ul class="nav navbar-nav">
                    <#list topMenus as topMenu>
                        <li class="<#if topMenu.active> active </#if>"><a href="${topMenu.url}">${topMenu.menuName}</a>
                        </li>
                    </#list>
                </ul>

            </div>

            <!-- =====================nav slider====================== -->
            <div id="nav-wrapper">
                <div class="overlay"></div>

                <!-- Sidebar -->
                <nav class="navbar navbar-inverse navbar-fixed-top hidden-md hidden-lg" style="opacity: .8;text-align: left" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="/index">
                                ${(config.webName)!'蜀旺新能源'}
                            </a>
                        </li>

                        <#list topMenus as topMenu>
                            <#if topMenu.hasSub>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa ${topMenu.icon}"></i> ${topMenu.menuName} <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="dropdown-header">子菜单</li>
                                        <#list navSliderMenus as slider>
                                            <#if slider.pid == topMenu.id>
                                                <li><a href="${slider.url}">${slider.menuName}</a></li>
                                            </#if>
                                        </#list>
                                    </ul>
                                </li>
                                <#else>
                                    <li><a href="${topMenu.url}"><i class="fa ${topMenu.icon}"></i> ${topMenu.menuName}</a></li>
                            </#if>
                        </#list>

                    </ul>
                </nav>

        </div>

    </nav>
</header>