<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery -->
<script src="/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap  -->
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="/plugins/select2/dist/js/select2.full.min.js"></script>
<!--jquery slimscroll-->
<script src="/plugins/Others/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!--wow-->
<script src="/app/js/wow.min.js"></script>
<!-- AdminLTE App -->
<script src="/app/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/app/js/demo.js"></script>
<!--custom-->
<script src="/app/js/custom.js"></script>

