<#include "/common/layout.html">
    <@header>
    <style>
        td{
            border: solid 1px black;
        }
        body{
            text-align: center;
        }
        table{
            margin: 0 auto;
            border: solid 1px;
            border-collapse: collapse;
        }
    </style>
</@header>

<@body>
<!--<form action = "/freemarker/connect" method="get">-->
<div class="content-wrapper">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>

        <#list users as user>
            <tr>
            <td>${user.id}</td>
            <td>${user.name}</td>
            <td>${user.age}</td>
            </tr>
        </#list>
    </table>
    <h3>${data1}</h3>
</div>
<!--</form>-->
</@body>

<@footer></@footer>
