<#include "/common/layout.html">
    <@head>
    <style type="text/css">
        #test {
            overflow: hidden;
            margin: 50px auto;
            width: 300px;
            height: 300px;
            border: 1px solid #ccc;
        }
        .one,
        .two {
            float: left;
            margin: 10px;
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 100px;
            font-size: 32px;
        }
        .one {
            background-color: #ccc;
        }
        .two {
            background-color: #999;
        }
    </style>

</@head>

<@body>
<!--<form action = "/freemarker/connect" method="get">-->
<div class="content-wrapper">
    <div class="container">
        <section class="content">

            <div id="test">
                <div class="one">one</div>
                <div class="two">two</div>
            </div>
        </section>
    </div>
</div>
<!--</form>-->
</@body>

<@javascript>
<script>
    var test = document.getElementById('test');
    var one = document.querySelector('.one');
    var two = document.querySelector('.two');

    function addEvent(elem, type, showAll) {
        type = type.split(' ');

        type.forEach(function(item) {
            elem.addEventListener(item, function(ev) {
                console.log(showAll ? ev : ev.type);
            });
        });
    }

    addEvent(one, 'tap click touchstart touchmove touchend touchcancel swipe swipeLeft swipeRight swipeUp swipeDown longTap singleTap doubleTap', false);
</script>
</@javascript>
