<#include "/common/layout.html"/>
<@head>
<style>
    body{
        text-align: center;
    }
</style>
</@head>

<@body>

<#include "/common/carousel.html"/>

<div class="content-wrapper" style="background-color: white">

    <div class="container index-c">
        <section class="content-header">
            <img class="img-title" src="/images/index/credit.png">
        </section>

        <!--产品认证-->
        <section class="content" style="display: flex;min-height: 110px;margin: 1vw">

            <div class="cert-icon">
                <div class="cert-icon-sub"></div>
                <p class="hidden-xs">CQC认证</p>
            </div>

            <div class="cert-icon">
                <div class="cert-icon-sub"></div>
                <p class="hidden-xs">CQC认证</p>
            </div>

            <div class="cert-icon">
                <div class="cert-icon-sub"></div>
                <p class="hidden-xs">CQC认证</p>
            </div>

            <div class="cert-icon">
                <div class="cert-icon-sub"></div>
                <p class="hidden-xs">CQC认证</p>
            </div>

            <div class="cert-icon">
                <div class="cert-icon-sub"></div>
                <p class="hidden-xs">CQC认证</p>
            </div>

        </section>
    </div>

    <!--产品介绍-->
    <div class="intro index-c">
        <div><img class="img-title" src="/images/index/credit.png"></div>
        <p style="padding: 1.5vw;font-size: 16px;color: #646464;">四川蜀旺新能源股份有限公司是专门从事太阳能研究与开发的高新技术企业，目前拥有最先进的机械设备和多项专利技术
            <br>多年的磨练，使我们的产品在研发、生产、销售到服务拥有丰富的经验...
        </p>
        <div>
            <img src="/images/index/p-in-f.png">
        </div>
    </div>

    <!--了解更多-->
    <div class="module1-back index-c">
        <div class="index-m" align="right">
            <div style="width: 270px;color: white;text-align: left">
                <h2 style="font-size: x-large; padding: 20px 0">西部太阳能全产业领导者</h2>
                <p>蜀旺新能源着眼于全球可持续发展，以推动光伏平价上网和普及绿色能源为己任，提供从光伏产品到光伏应用的整体解决方案不断开拓创新，引领光伏进步</p>
                <div style="cursor:pointer;border: 1px white solid; color: red;margin-top: 30px;padding: 3px 10px;width: 100px">
                    了解更多
                </div>
            </div>
        </div>
    </div>

    <!--产品中心-->
    <div class="container index-c">

        <section class="content-header">
            <img class="img-title" src="/images/index/credit.png">
        </section>

        <section class="content" style="display: flex">

            <#list products.records as product>
                <div class="centre">
                    <div class="centre-image" style="background-image: url('${product.img!}');"></div>
                    <div class="centre-desc">
                        <h4>${product.name}</h4>
                        <p>${product.description}</p>
                        <a class="btn btn-flat bg-maroon" href="${product.class1}/${product.class2}/${product.id}">了解更多</a>
                    </div>
                </div>
            </#list>

        </section>
    </div>

    <!--news-->
    <div class="news index-c">
        <div class="container">
            <!--<div><img class="img-title" src="/images/index/credit.png"> </div>-->
            <section class="content-header">
                <img class="img-title" src="/images/index/credit.png">
            </section>

            <div class="row">
                <div class="news-sub col-sm-6 col-xs-12">
                    <!--<img src="${(news.records[0].coverImg)!'/images/banner.png'}" style="height: 24vw;">-->
                    <div style="background-image: url('${(news.records[0].coverImg)!}');height: 24vw;background-size: cover;cursor: pointer" onclick="window.open('${news.records[0].class1}/${news.records[0].class2}/${news.records[0].id}','_self')">
                        <div class="pull-left bg-teal">
                            <p class="dd">${(news.records[0].updateDate)?string('dd')}</p>
                            <p class="yyyy-mm">${(news.records[0].updateDate)?string('yyyy-MM')}</p>
                        </div>
                    </div>
                    <h4>${news.records[0].title}</h4>
                    <p>${news.records[0].description}</p>
                </div>

                <div class="news-sub col-sm-6">

                    <#list news.records as piece>
                        <#if piece_index &gt; 0 >
                            <div class="news-list">
                                <div>
                                    <p class="dd">${(piece.updateDate)?string('dd')}</p>
                                    <p class="yyyy-mm">${(piece.updateDate)?string('yyyy-MM')}</p>
                                </div>
                                <div class="news-title"
                                     onclick="window.open('/${piece.class1}/${piece.class2}/${piece.id}','_self')">
                                    <h4>${piece.title}</h4>
                                    <p>${piece.description}</p>
                                </div>
                            </div>
                        </#if>
                    </#list>

                    <a class="btn btn-app bg-purple" href="/news" style="animation: q-action 3s infinite ease-out;">
                        <i class="fa fa-chrome fa-spin" style="color: #ffac41"></i> more
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!--项目案例-->
    <div class="container index-c">

        <section class="content-header">
            <img class="img-title" src="/images/index/credit.png">
        </section>

        <section class="content">
            <div class="row">

                <#list cases.records as case>
                    <div class="col-xs-3 case">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user case-list animated pulse" onclick="window.open('/${case.class1}/${case.class2}/${case.id}','_self')">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-black"
                                 style="background: url('${case.img!}') center center;">
                                <h3 class="widget-user-username">${case.name}</h3>
                                <h5 class="widget-user-desc">${case.description}</h5>
                            </div>

                            <div class="box-footer">
                                <div class="row">

                                    <!-- /.col -->
                                    <div class="description-block">
                                        <h5 class="description-header">${case.name}</h5>
                                        <span class="description-text">${case.description}</span>
                                    </div>
                                    <!-- /.description-block -->

                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>
                </#list>
            </div>
        </section>
    </div>

    <!--全国有售-->
    <div class="index-c">
        <h1>全国有售</h1>
        <h4>地球这么大我们经营太阳</h4>
        <a href="/contact" class="btn btn-flat bg-red">联系我们</a>
    </div>
</div>
<!--</form>-->
</@body>

<@javascript></@javascript>
