<#include "/common/layout.html">
    <@head>
    <style>
        td{
            border: solid 1px black;
        }
        body{
            text-align: center;
        }
        table{
            margin: 0 auto;
            border: solid 1px;
            border-collapse: collapse;
        }
    </style>
</@head>

<@body>

<#include "/common/carousel.html">

    <div class="content-wrapper" style="background-color: white">
        <div class="container">

            <section class="content-header">
            </section>

            <!--产品认证-->
            <section class="content" style="display: flex">

                <div></div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

            </section>

        </div>

        <!--产品介绍-->
        <div class="intro">
            <img src="/images/index/product-intro.png">
        </div>

        <!--了解更多-->
        <div class="module1-back">
            <div class="index-m" align="right">
                <div style="width: 270px;color: white;text-align: left">
                    <h2 style="font-size: x-large; padding: 20px 0">西部太阳能全产业领导者</h2>
                    <p>蜀旺新能源着眼于全球可持续发展，以推动光伏平价上网和普及绿色能源为己任，提供从光伏产品到光伏应用的整体解决方案不断开拓创新，引领光伏进步</p>
                    <!--<button type="button">了解更多</button>-->
                    <div style="border: 1px white solid; color: red;margin-top: 30px;padding: 3px 10px;width: 100px">了解更多</div>
                </div>
            </div>
        </div>

        <!--产品中心-->
        <div class="container">
            <section class="content" style="display: flex">
                <div class="centre">
                    <div class="centre-image"></div>
                    <div class="centre-desc">
                        <p>小尺寸光伏组件</p>
                        <p>36-电池片</p>
                        <button>了解更多</button>
                    </div>
                </div>

                <div class="centre">
                    <div class="centre-image"></div>
                    <div class="centre-desc">
                        <p>小尺寸光伏组件</p>
                        <p>36-电池片</p>
                        <button>了解更多</button>
                    </div>
                </div>

                <div class="centre">
                    <div class="centre-image"></div>
                    <div class="centre-desc">
                        <p>小尺寸光伏组件</p>
                        <p>36-电池片</p>
                        <button>了解更多</button>
                    </div>
                </div>

            </section>
        </div>

        <!--news-->
        <div class="news">
            <div class="news-sub">
                <img src="/images/banner.png" style="height: 24vw;width: 100%">
                <h4>The title of the news</h4>
                <p>The description of the news</p>
            </div>
            <div class="news-sub">
                <div class="news-list">
                    <div>date</div>
                    <div>
                        <h4>The title of the news</h4>
                        <p>The description of the news</p>
                    </div>
                </div>

                <div class="news-list">
                    <div>date</div>
                    <div>
                        <h4>The title of the news</h4>
                        <p>The description of the news</p>
                    </div>
                </div>

                <div class="news-list">
                    <div>date</div>
                    <div>
                        <h4>The title of the news</h4>
                        <p>The description of the news</p>
                    </div>
                </div>

            </div>
        </div>

        <!--项目案例-->
        <div class="container">
            <section class="content">
                <div class="case-list"></div>
            </section>
        </div>
        <!--全国有售-->
        <div>
            contact
        </div>
    </div>
        <!--</form>-->
</@body>

<@javascript></@javascript>
