<#include "/common/layout.html">
    <@head>
    <style>
        td{
            border: solid 1px black;
        }
        body{
            text-align: center;
        }
        table{
            margin: 0 auto;
            border: solid 1px;
            border-collapse: collapse;
        }
    </style>
</@head>

<@body>

<#include "/common/carousel.html">

    <div class="content-wrapper" style="background-color: white">

        <div class="container index-c">
            <section class="content-header">
                <img class="img-title" src="/images/index/credit.png">
            </section>

            <!--产品认证-->
            <section class="content" style="display: flex;min-height: 110px;margin: 1vw">

                <div></div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

                <div class="cert-icon">
                    <div class="cert-icon-sub"></div>
                    <p class="hidden-xs">CQC认证</p>
                </div>

            </section>
        </div>

        <!--产品介绍-->
        <div class="intro index-c">
            <div><img class="img-title" src="/images/index/credit.png"> </div>
            <p style="padding: 2.5vw">产品介绍something</p>
            <div>
                <img  src="/images/index/product-intro.png">
            </div>
        </div>

        <!--了解更多-->
        <div class="module1-back index-c">
            <div class="index-m" align="right">
                <div style="width: 270px;color: white;text-align: left">
                    <h2 style="font-size: x-large; padding: 20px 0">西部太阳能全产业领导者</h2>
                    <p>蜀旺新能源着眼于全球可持续发展，以推动光伏平价上网和普及绿色能源为己任，提供从光伏产品到光伏应用的整体解决方案不断开拓创新，引领光伏进步</p>
                    <!--<button type="button">了解更多</button>-->
                    <div style="cursor:pointer;border: 1px white solid; color: red;margin-top: 30px;padding: 3px 10px;width: 100px">了解更多</div>
                </div>
            </div>
        </div>

        <!--产品中心-->
        <div class="container index-c">

            <section class="content-header">
                <img class="img-title" src="/images/index/credit.png">
            </section>

            <section class="content" style="display: flex">
                <div class="centre">
                    <div class="centre-image"></div>
                    <div class="centre-desc">
                        <p>小尺寸光伏组件</p>
                        <p>36-电池片</p>
                        <button class="btn btn-flat bg-maroon">了解更多</button>
                    </div>
                </div>

                <div class="centre">
                    <div class="centre-image"></div>
                    <div class="centre-desc">
                        <p>小尺寸光伏组件</p>
                        <p>36-电池片</p>
                        <button class="btn btn-flat bg-maroon">了解更多</button>
                    </div>
                </div>

                <div class="centre">
                    <div class="centre-image"></div>
                    <div class="centre-desc">
                        <p>小尺寸光伏组件</p>
                        <p>36-电池片</p>
                        <button class="btn btn-flat bg-maroon">了解更多</button>
                    </div>
                </div>

            </section>
        </div>

        <!--news-->
        <div class="news index-c">
            <div class="container">
                <div class="news-sub col-sm-6">
                    <img src="/images/banner.png" style="height: 24vw;width: 100%">
                    <h4>The title of the news</h4>
                    <p>The description of the news</p>
                </div>

                <div class="news-sub col-sm-6">
                    <div class="news-list">
                        <div>
                            <p class="dd">20</p>
                            <p class="yyyy-mm">2017-9</p>
                        </div>
                        <div class="news-title">
                            <h4>The title of the news</h4>
                            <p>The description of the news</p>
                        </div>
                    </div>

                    <div class="news-list">
                        <div>
                            <p class="dd">20</p>
                            <p class="yyyy-mm">2017-9</p>
                        </div>
                        <div class="news-title">
                            <h4>The title of the news</h4>
                            <p>The description of the news</p>
                        </div>
                    </div>

                    <div class="news-list">
                        <div>
                            <p class="dd">20</p>
                            <p class="yyyy-mm">2017-9</p>
                        </div>
                        <div class="news-title">
                            <h4>The title of the news</h4>
                            <p>The description of the news</p>
                        </div>
                    </div>

                    <a class="btn btn-app bg-purple" style="    animation: q-action 3s infinite ease-out;">
                        <i class="fa fa-chrome fa-spin" style="color: chartreuse"></i> more
                    </a>
                </div>
            </div>
        </div>

        <!--项目案例-->
        <div class="container index-c">

            <section class="content-header">
                <img class="img-title" src="/images/index/credit.png">
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-3 case">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user case-list animated pulse">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-black" style="background: url('/upload-files//images/system/android-social-user.png') center center;">
                                <h3 class="widget-user-username">Elizabeth Pierce</h3>
                                <h5 class="widget-user-desc">Web Designer</h5>
                            </div>

                            <div class="box-footer">
                                <div class="row">

                                    <!-- /.col -->
                                    <div class="description-block">
                                        <h5 class="description-header">habcde</h5>
                                        <span class="description-text">大方啊</span>
                                    </div>
                                    <!-- /.description-block -->

                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>


                    <div class="col-xs-3 case">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user case-list animated pulse">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-black" style="background: url('/images/case/case.png') center center;">
                                <h3 class="widget-user-username">Elizabeth Pierce</h3>
                                <h5 class="widget-user-desc">Web Designer</h5>
                            </div>

                            <div class="box-footer">
                                <div class="row">

                                    <!-- /.col -->
                                    <div class="description-block">
                                        <h5 class="description-header">eqtt</h5>
                                        <span class="description-text">dfea</span>
                                    </div>
                                    <!-- /.description-block -->

                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>


                    <div class="col-xs-3 case">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user case-list animated pulse">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-black" style="background: url('/images/case/case.png') center center;">
                                <h3 class="widget-user-username">Elizabeth Pierce</h3>
                                <h5 class="widget-user-desc">Web Designer</h5>
                            </div>

                            <div class="box-footer">
                                <div class="row">

                                    <!-- /.col -->
                                    <div class="description-block">
                                        <h5 class="description-header">egfg</h5>
                                        <span class="description-text">4q5ygfdj6nhyt</span>
                                    </div>
                                    <!-- /.description-block -->

                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>


                    <div class="col-xs-3 case">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user case-list animated pulse">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-black" style="background: url('/images/case/case.png') center center;">
                                <h3 class="widget-user-username">Elizabeth Pierce</h3>
                                <h5 class="widget-user-desc">Web Designer</h5>
                            </div>

                            <div class="box-footer">
                                <div class="row">

                                    <!-- /.col -->
                                    <div class="description-block">
                                        <h5 class="description-header">dfe</h5>
                                        <span class="description-text">dsfedfe</span>
                                    </div>
                                    <!-- /.description-block -->

                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>


                </div>
            </section>
        </div>
        <!--全国有售-->
        <div>
            contact
        </div>
    </div>
        <!--</form>-->
</@body>

<@javascript></@javascript>
