<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login/authentication" method="post">
    <input type="text" id="name" name="userName">
    <input type="text" id="pw" name="password">
    <button type="submit" id="login">login</button>
</form>

<script type="text/javascript">
//    $('document').ready(function () {
//        $('#login').click(function () {
//
//            $.ajax({
//                url:'/login/authentication',
//                type:'POST',
//                data:{userName:$('#name').val(), password:$('#pw').val()}
//                success
//            });
//        });
//    });
</script>
</body>
</html>