<#include "/common/layout.html"/>
<@head>
<style>


</style>
</@head>

<@body>
<#include "/common/banner.html"/>

<div class="content-wrapper">
    <div class="container">
        <#include "/common/subMenu.html"/>

    </div>
    <!--================================content========================================-->


    <div>
        <div class="container">
            <section class="content">
                <div class="display" style="padding-bottom: 2vw">
                    <!--=----------------------------------------------------------------------------------=-->

                    <div class="a-h-div animated delay600 wow fadeInDown">
                        <h1>公司理念</h1>
                    </div>

                    <div class="col-sm-6">
                        <img class="animated delay600 wow rollIn" src="/images/about/spirit-banner.png">
                    </div>

                    <div class="col-sm-6 animated delay600 wow bounceInRight" style="padding: 0 3vw">
                        <h3>服务理念</h3>
                        <p>让蜀旺成为国内技术一流太阳能电池厂</p>
                        <h3>品牌理念</h3>
                        <p>让中国人都能用上便宜、干净的太阳能</p>
                        <h3>人才理念</h3>
                        <p>志存高远，与阳光同行</p>
                        <h3>创新理念</h3>
                        <p>理解、勤奋、严谨创新</p>
                        <h3>xx理念</h3>
                        <p>让蜀旺成为国内技术一流太阳能电池厂</p>
                    </div>

                    <!--=-------------------------------------------------------------------------------------=-->
                </div>
            </section>
        </div>
    </div>


    <!--===========================================content=========================================-->

</div>
<!--</form>-->
</@body>

<@javascript></@javascript>
