<#include "/common/layout.html"/>
<@head>
<style>

</style>
</@head>

<@body>
<#include "/common/banner.html"/>

<div class="content-wrapper">
    <div class="container">
        <#include "/common/subMenu.html"/>

    </div>
    <!--================================content========================================-->

    <div class="product-m">
        <div>
            <h1>售后服务入口</h1>
            <p>蜀旺新能源专注于为全世界的客户提供服务，建立起一个多层次，多渠道的快速高效客服服务团队</p>
            <button type="button" class="btn bg-red btn-flat btn-lg">了解更多</button>
        </div>
    </div>

    <div class="product-m product-b" style="background-image: url('/images/contact/quality.png'); display: flex;align-items: center">
        <div class="container" >
            <div class="row">
                <div class="col-sm-4 product-p" style="color: white;">
                        <h1>客户质量保障</h1>
                        <p>蜀旺新能源专业客户质量部门负责处理客户的反馈和要求，确保客户满意度。质量检测部门还负责工厂审计和客服的检查，保证所有客户参观、审计及产品检查检查顺利进行</p>
                </div>
            </div>
        </div>
    </div>

    <div class="product-m">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>售前支持</h1>
                    <p>我们售前服务团队提供技术信息和销售相关的资讯服务，如下</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <a href="#">产品资讯</a>
                    <p>产品规格，证书等</p>
                </div>
                <div class="col-sm-4">
                    <a href="#">销售资讯</a>
                    <p>购买渠道，有效性等</p>
                </div>
                <div class="col-sm-4">
                    <a href="#">通用资讯</a>
                    <p>其他问题</p>
                </div>

            </div>
        </div>
    </div>

    <div class="product-m">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>售后支持</h1>
                    <p>关于质保和退换货的相关问题，请联系我们售后服务代表</p>
                    <a href="#">组件索赔</a>
                </div>
            </div>
        </div>
    </div>


    <!--===========================================content=========================================-->

</div>
<!--</form>-->
</@body>

<@javascript></@javascript>
