<#include "/edit/common/editLayout.html">
<@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                    <#include "/edit/module/db-edit.html"/>
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<!--</form>-->
</@body>

<@javascript>
<script src="/plugins/select2/dist/js/select2.min.js"></script>

<script>
    
    function showInfo(d) {
        console.log(d);
        $('#sql-file').html(d);
    }
    
    $('document').ready(function () {
        $('.select2').select2();

        $('#lookup-file').click(function () {

            var info = generalGet('/api/extend/database/lookup', {}, showInfo);

        });

        $('#backup').click(function () {

            var url = '/api/extend/database/backup';
            var backupName = $('#backupName').val();
            var data = {
                filename: backupName
            };

            if(isnull(backupName))
                alert('请填写备份名称');
            else
                generalAjax(url, 'POST', data,'备份');
        });

        $('#recovery').click(function () {
            var url = '/api/extend/database/recovery';
            var data = {
                filename:$('.select2').val()
            };

            generalAjax(url,'POST',data,'恢复，建议先备份再恢复');
        });

        $('#delete').click(function () {
            var url = '/api/extend/database/delete';
            var data = {
                filename:$('.select2').val()
            };

            generalAjax(url,'POST',data,'删除，删除后不能再恢复');
        });

        $('#refresh').click(function () {
            window.location.reload();
        });
    });
</script>
</@javascript>
