<#include "/edit/common/editLayout.html">
<@head>
    <!--date picker-->
    <link rel="stylesheet" href="/plugins/Forms/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                    <#include "/edit/module/case-list.html">

                        <#include "/edit/module/case-edit.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<div class="hidden" id="case-contents">
    ${(case.contents)!"<p>start</p>"}
</div>
<!--</form>-->
</@body>

<@javascript>
<!--date picker-->
<script src="/plugins/Forms/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script>

    var dir = 'case-dir';
    var imgPaging = 'case-cover-paging';
    var imgList = 'case-cover-list';
    var cover = 'case-cover';

    function imgListFun() {

        getImgList4Modal(1, elementVal(dir), imgPaging, imgList, cover);

    }

    function push_data(type) {

        var today = new Date().toLocaleDateString().replace(/\//g, '-');

        var id = $('#case-id').val();
        var name = $('#case-name').val();
        var description = $('#case-description').val();
        var img = $('#case-cover')[0].attributes['src'].value;
        var class1 = 'case';
        var class2 = $('#case-class2').val();
        var contents = CKEDITOR.instances.editor.getData();

        var date = $('#case-date').val() == '' ? today : $('#case-date').val();

        operate_case(id, name, description, img, class1, class2, contents, date, type);
    }

    //Date picker
    $('#case-date').datepicker({
        todayHighlight:true,
        format: 'yyyy-mm-dd',
        autoclose: true
    });

    $('document').ready(function () {
//        case list
        getCaseList(1);

//        img list
        imgListFun();

//      select change choose images
        $('#case-dir').on('change', function () {
            imgListFun();
        });

//        collapse
        $('.custom-collapse').click();

//        ckEditor padding data
        CKEDITOR.instances.editor.setData($('#case-contents').html());

//        post cover image
        $('#case-cover-upload').on('change', function () {
            console.log("push images");
            pushImg(this.id, '', '', elementVal(dir), cover);
            $('.close').click();
        });

//        post case
        $('#case-add').click(function () {
                push_data('POST');
        });

//        put case
        $('#case-update').click(function () {
                push_data('PUT');
        });

//        delete case
        $('#case-delete').click(function () {
            var id = $('#case-id').val();
            delete_case(id);
        });

    });
</script>
</@javascript>
