<#include "/edit/common/editLayout.html">
    <@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header-module.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <#include "/edit/common/e-display-module.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<!--</form>-->
</@body>

<@javascript>
<script type="text/javascript">

    function assembleTable(json) {
        var str = '            <tr>\n' +
            '                <th>id</th>\n' +
            '                <th>pid</th>\n' +
            '                <th>iFrameUrl</th>\n' +
            '                <th>bannerImg</th>\n' +
            '                <th>publisher</th>\n' +
            '                <th>state</th>\n' +
            '                <th>createTime</th>\n' +
            '                <th>edit</th>\n' +
            '            </tr>'

        $.each(json, function (index, info) {
            str += '<tr>' +
                '<td>'+ info["id"] +'</td>' +
                '<td>'+ info["pid"] +'</td>' +
                '<td>'+ info["iframeUrl"] +'</td>' +
                '<td>'+ info["bannerImg"] +'</td>' +
                '<td>'+ info["publisher"] +'</td>' +
                '<td>'+ info["state"] +'</td>' +
                '<td>'+ info["createTime"] +'</td>' +
                '<td><a href="/backend/p-display/'+ info["id"] +'">编辑</a></td>' +
                '</tr>';
        });

        $('#dplList').html(str);

    }

    function getDisplayList() {
        $.ajax({
            url:'/api/splContents',
            type:'get',
            data:{},
            success:function (d, s) {
                var json = JSON.parse(d);
                assembleTable(json['records']);
            },
            error:function (d, s) {
                console.log(d+s);
            }
        });
    }

    $(function () {
        getDisplayList();
    });
</script>
</@javascript>
