<#include "/edit/common/editLayout.html">
    <@head>
    <link rel="stylesheet" type="text/css" href="/plugins/selectImg/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/plugins/selectImg/css/selectImg.css"/>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                    <#include "/edit/module/image-list.html">
                    <#include "/edit/module/image-edit.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<!--</form>-->
</@body>

<@javascript>
<script type="text/javascript" src="/plugins/selectImg/js/selectImg.js"></script>
<script src="/plugins/selectImg/js/iconfont.js"> </script>

<script type="text/javascript">

    $('document').ready(function () {
        getImgList(1);
        $('#img-edit').click(function () {
            window.location = "/backend/e-images/" + selectImgTake.getSelectImgs('selectItemDiv')[0].id;
        });

        $('#img-update').click(function () {
            var id = $('#img-id').val();
            var alt = $('#img-alt').val();
            var title = $('#img-title').val();
            put_img(id, alt, title);
        });
    });
</script>
</@javascript>
