<#include "/edit/common/editLayout.html">
    <@head>
    <link rel="stylesheet" type="text/css" href="/plugins/selectImg/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/plugins/selectImg/css/selectImg.css"/>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header-module.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12">
                    <#include "/edit/common/img-select-module.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<!--</form>-->
</@body>

<@javascript>
<script type="text/javascript" src="/plugins/selectImg/js/selectImg.js"></script>
<script src="/plugins/selectImg/js/iconfont.js"> </script>

<script type="text/javascript">

    $('document').ready(function () {

        $.ajax({
            url:'/api/images/system',
            type:'get',
            data:{},
            success:function (d, s) {
                var json = JSON.parse(d);

                $.each(json['records'], function (index, info) {
                    $('#selectItemDiv').append('            <div id="'+ info['id'] +'" class="item">\n' +
                        '                   <div class="img_show">\n' +
                        '                    <img src="' + info['url'] + '"/>\n' +
                        '                   </div>\n' +
                        '                   <div class="img_title">\n' +
                        '                    ' + info['originName'] +
                        '                   </div>\n' +
                        '                   <div class="img_isCheck">\n' +
                        '                    <i class="iconfont icon-xuanzhong"></i>\n' +
                        '                   </div>\n' +
                        '                   </div>' +
                        '');
                });

                selectImgTake.init("selectItemDiv",1);
            },
            error:function (d, s) {
                console.log(d + s);
            }
        });
    });
</script>
</@javascript>
