<#include "/edit/common/editLayout.html">
    <@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                <#include "/edit/module/menu-list.html">

                <#include "/edit/module/menu-edit.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<!--</form>-->
</@body>

<@javascript>
<script>

    function push_data(type) {
        var id = $('#menu-id').val();
        var menuName = $('#menu-name').val();
        var pid = $('#menu-pid').val();
        var parent_url = $('#menu-pid').val() == '' ? '' : '/' + $('#menu-pid').val();
        var url = parent_url + "/" + $('#menu-id').val();
        var icon = $('#menu-icon').val();
        var sort = $('#menu-sort').val();
        var deep = $('#menu-deep').val();
        var display = $('#menu-display').val();
        var hasSub = $('#menu-hasSub').val() == 0 ? false : true;
        var bannerImg = $('#menu-banner')[0].attributes['src'].value;
        var contentType = $('#menu-contentType').val();

        operate_menu(id, menuName, pid, url, icon, sort, deep, display, hasSub, bannerImg,contentType, type);
    }


    $('document').ready(function () {
//        menu list
        getMenuList(1);

//        img list
        getImgList4Modal(1, 'system', 'menu-img-paging', 'menu-img-list', 'menu-banner');


//        $('.custom-box').addClass('collapsed-box');
        $('.custom-collapse').click();


        $('#submit-menu-banner').click(function () {
            console.log("push images");
            pushImg('menu-banner-upload', '', '', 'system', 'menu-banner');
        });

        $('#menu-add').click(function () {
            push_data('POST');
        });

        $('#menu-update').click(function () {
            push_data('PUT');
        });

        $('#menu-delete').click(function () {
            var id = $('#menu-id').val();
            delete_menu(id);
        });

    });
</script>
</@javascript>
