<#include "/edit/common/editLayout.html">
    <@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                    <#include "/edit/module/product-list.html">

                        <#include "/edit/module/product-edit.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<!--</form>-->
</@body>

<@javascript>
<script>

    var dir = 'product-dir';
    var imgPaging = 'product-cover-paging';
    var imgList = 'product-cover-list';
    var cover = 'product-cover';

    function imgListFun() {

        getImgList4Modal(1, elementVal(dir), imgPaging, imgList, cover);

    }

    function push_data(type) {
        var id = $('#product-id').val();
        var name = $('#product-name').val();
        var description = $('#product-description').val();
        var img = $('#product-cover')[0].attributes['src'].value;
        var class1 = 'product';
        var class2 = $('#product-class2').val();
        var page = elementVal('product-page');
//        var contents = CKEDITOR.instances.editor.getData();

        operate_product(id, name, description, img, class1, class2, page, type);
    }


    $('document').ready(function () {
//        case list
        getProductList(1);

//        img list
        imgListFun();

//      select change choose images
        $('#product-dir').on('change', function () {
            imgListFun();
        });

//        collapse
        $('.custom-collapse').click();

//        ckEditor padding data
//        CKEDITOR.instances.editor.setData($('#case-contents').html());

//        post cover image
        $('#product-cover-upload').on('change', function () {
            console.log("push images");
            pushImg(this.id, '', '', elementVal(dir), cover);
            $('.close').click();
        });

//        post product
        $('#case-add').click(function () {
            push_data('POST');
        });

//        put product
        $('#case-update').click(function () {
            push_data('PUT');
        });

//        delete product
        $('#case-delete').click(function () {
            var id = $('#product-id').val();
            delete_product(id);
        });

    });
</script>
</@javascript>
