<#include "/edit/common/editLayout.html">
<@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                    <#include "/edit/module/user-list.html">

                        <#include "/edit/module/user-edit.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<!--</form>-->
</@body>

<@javascript>

<script src="/plugins/select2/dist/js/select2.min.js"></script>

<script>
    function push_data(type) {

        var userName = $('#userName').val();
        var password1 = $('#password1').val();
        var password2 = $('#password2').val();
        var desc = $('#user-description').val();
        var state = $('#user-state')[0].value == 1;
        var today = getNowFormatDate();

        var roleList = $('.select2').val();
        var username = $('#userName').val();

        if($('.select2').val() != '' && password1 == password2) {
            addRole4User(roleList, username, 'POST');
            operate_user(userName, password1, state, today, desc, '', type);
        }else {
            alert('必须选择一个角色/两次密码不一致')

        }
    }

    $('document').ready(function () {
//      Initialize Select2 Elements
        $('.select2').select2();
        <#list urList as ur>
            $('.select2').val('${ur.roleName}').trigger('change');
        </#list>
//        case list
        getUserList(1);

//        collapse
        $('.custom-collapse').click();

//        post user
        $('#user-add').click(function () {
            push_data('POST');
        });

//        put user
        $('#user-update').click(function () {
            push_data('PUT');
        });

//        delete product
        $('#user-delete').click(function () {
            var username = $('#userName').val();
            delete_user(username);
        });

    });
</script>
</@javascript>
