<#include "/edit/common/editLayout.html">
    <@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                    <#include "/edit/module/product-list.html">

                        <#include "/edit/module/user-edit.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>
<!--</form>-->
</@body>

<@javascript>
<script>
    function push_data(type) {

        var userName = $('#userName').val();
        var password = $('#password1').val();
        var desc = $('#user-description').val();
        var state = $('#user-state')[0].value == 1;
        var today = getNowFormatDate();

        operate_user(userName, password, state, today, desc, '', type);

    }

    $('document').ready(function () {
//        case list
        getProductList(1);

//        collapse
        $('.custom-collapse').click();

//        post product
        $('#user-add').click(function () {
            push_data('POST');
        });

//        put product
//        $('#case-update').click(function () {
//            push_data('PUT');
//        });

//        delete product
        $('#user-delete').click(function () {
            var username = $('#userName').val();
            delete_user(username);
        });

    });
</script>
</@javascript>
