<#include "/edit/common/editLayout.html">
<@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                    <#include "/edit/module/display-list.html">

                    <#include "/edit/module/display-edit.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>

<div class="hidden" id="fuck">
    ${(display.content)!"<p>start</p>"}
</div>
<!--</form>-->
</@body>

<@javascript>
<script>

    var dir = 'dpl-dir';
    var imgPaging = 'dpl-img-paging';
    var imgList = 'dpl-img-list';
    var banner = 'dpl-banner';

    function imgListFun() {

        getImgList4Modal(1, elementVal(dir), imgPaging, imgList, banner);

    }

//    上传 数据 公共方法
    function push_data(method) {
        var id = $('#dpl-id').val();
        var pid = $('#dpl-menu')[0].value;
        var content = CKEDITOR.instances.editor.getData();
        var iframeUrl = $('#dpl-iFrame').val();
        var bannerImg = $('#dpl-banner')[0].attributes['src'].value;
        var publisher = $('#dpl-publisher').val();
        var state = $('#dpl-state')[0].value == 1 ? true : false;

        if(method.toUpperCase() == 'PUT')
            update_display(id, pid, content, iframeUrl, bannerImg, publisher, state);

        if(method.toUpperCase() == 'POST')
            push_display(pid, content, iframeUrl, bannerImg, publisher, state);

    }

    $('document').ready(function () {

//        display list
        getDisplayList(1);

//        image list
        imgListFun();

//      select change choose images
        $('#dpl-dir').on('change', function () {
            imgListFun();
        });

//        collapse
        $('.custom-collapse').click();

//        ckEditor padding data
//        CKEDITOR.instances.editor.setData($('#fuck').html());

//        ===============上传 数据 事件==============
//        post image
        $('#dpl-banner-upload').on('change', function () {
            console.log("push images");
            pushImg(this.id, '', '', elementVal(dir), banner);
            $('.close').click();
        });

//        post display page
        $('#dpl-add').click(function () {
            push_data('POST');
        });

//        put display page
        $('#dpl-update').click(function () {
            push_data('PUT');
        });

//        delete display page
        $('#dpl-delete').click(function () {
            var id = $('#dpl-id').val();
            delete_display(id);
        });

    });
</script>
</@javascript>
