<#include "/edit/common/editLayout.html">
<@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-md-12 connectedSortable">
                    <#include "/edit/module/display-list.html">

                    <#include "/edit/module/display-edit.html">
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
</div>

<div class="hidden" id="fuck">
    ${(display.content)!"<p>start</p>"}
</div>
<!--</form>-->
</@body>

<@javascript>
<script>

    $('document').ready(function () {
//        display list
        getDisplayList(1);

//        $('.custom-box').addClass('collapsed-box');
        $('.custom-collapse').click();

        CKEDITOR.instances.editor.setData($('#fuck').html());

        $('#submit-dpl-banner').click(function () {
            console.log("push images");
            pushImg('dpl-banner-upload', '', '', 'system', 'dpl-banner');
        });

        $('#dpl-add').click(function () {
            var pid = $('#dpl-menu')[0].value;
            var content = CKEDITOR.instances.editor.getData();
            var iframeUrl = $('#dpl-iFrame').val();
            var bannerImg = $('#dpl-banner')[0].attributes['src'].value;
            var publisher = $('#dpl-publisher').val();
            var state = $('#dpl-state')[0].value == 1 ? true : false;
            push_display(pid, content, iframeUrl, bannerImg, publisher, state);
        });

        $('#dpl-update').click(function () {
            var id = $('#dpl-id').val();
            var pid = $('#dpl-menu')[0].value;
            var content = CKEDITOR.instances.editor.getData();
            var iframeUrl = $('#dpl-iFrame').val();
            var bannerImg = $('#dpl-banner')[0].attributes['src'].value;
            var publisher = $('#dpl-publisher').val();
            var state = $('#dpl-state')[0].value == 1 ? true : false;
            update_display(id, pid, content, iframeUrl, bannerImg, publisher, state);
        });

        $('#dpl-delete').click(function () {
            var id = $('#dpl-id').val();
            delete_display(id);
        });

    });
</script>
</@javascript>
