<#include "/edit/common/editLayout.html">
    <@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header.html">

    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-md-12">
                <#include "/edit/module/sysConfig-module.html">

                <#include "/edit/module/seo-module.html">
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!--</form>-->
</@body>

<@javascript>

<script>
    $('document').ready(function() {

        $('#seo-update').click(function(){
            var id = $('#seo-id').val();
            var title = $('#seo-page-title').val();
            var keywords = $('#seo-keywords').val();
            var desc = $('#seo-description').val();
            var author = $('#seo-author').val();

            modify_system_seo(id, title, keywords, desc, author);
        });
        
        $('#sysConfig-update').click(function () {


            var id = $('#sys-id').val();
            var webName = $('#sys-name').val();
            var icon = $('#icon')[0].attributes['src'].value;
            var logo = $('#logo')[0].attributes['src'].value;
            var sharesName = $('#sys-shares-name').val();
            var sharesCode = $('#sys-shares-code').val();
            var email = $('#sys-email').val();
            var phone = $('#sys-tel').val();
            var licensing = $('#sys-license').val();

            modify_system_config(id, webName, icon, logo, sharesName, sharesCode, email, phone, licensing);
        });

        $('#submit-icon').click(function () {

            pushImg('icon-upload', 'what', 'the', 'system', 'icon');
        });

        $('#submit-logo').click(function () {
            pushImg('logo-upload', 'good', 'morning', 'system', 'logo');
        });

    });
</script>
</@javascript>
