<#include "/edit/common/editLayout.html">
    <@head>
</@head>

<@body>

<div class="content-wrapper" style="min-height: 1036px;">
    <!-- Content Header (Page header) -->
    <#include "/edit/common/content-header-module.html">

    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-md-12">
                <#include "/edit/common/sysConfig-module.html">

                <#include "/edit/common/seo-module.html">
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!--</form>-->
</@body>

<@javascript>

<script>
    $('document').ready(function() {

        $('#seo-update').click(function(){
            var id = $('#seo-id').val();
            var title = $('#seo-page-title').val();
            var keywords = $('#seo-keywords').val();
            var desc = $('#seo-description').val();
            var author = $('#seo-author').val();

            var sure = confirm("确定修改？");

            if(sure)
                modify_system_seo(id, title, keywords, desc, author);
        });
        
        $('#sysConfig-update').click(function () {
//            var formData = new FormData();
//
//            for(var i = 0; i < $('#icon-upload')[0].files.length;i++) {
//                formData.append('files', $('#icon-upload')[0].files[i]);
//            }
//
//            for(var i = 0; i < $('#logo-upload')[0].files.length;i++) {
//                formData.append('files', $('#logo-upload')[0].files[i]);
//            }
//
//            formData.append("id", $('#sys-id').val());
//            formData.append("webName", $('#sys-name').val());
//            formData.append("sharesName", $('#sys-shares-name').val());
//            formData.append("sharesCode", $('#sys-shares-code').val());
//            formData.append("email", $('#sys-email').val());
//            formData.append("phone", $('#sys-tel').val());
//            formData.append("licensing", $('#sys-license').val());

            var id = $('#sys-id').val();
            var webName = $('#sys-name').val();
//            var icon = $('#icon')[0].src;
//            var logo = $('#logo')[0].src;
            var icon = $('#icon')[0].attributes['src'].value;
            var logo = $('#logo')[0].attributes['src'].value;
            var sharesName = $('#sys-shares-name').val();
            var sharesCode = $('#sys-shares-code').val();
            var email = $('#sys-email').val();
            var phone = $('#sys-tel').val();
            var licensing = $('#sys-license').val();

            modify_system_config(id, webName, icon, logo, sharesName, sharesCode, email, phone, licensing);
        });

        $('#submit-icon').click(function () {

            pushImg('icon-upload', 'what', 'the', 'system', 'icon');
        });

        $('#submit-logo').click(function () {
            pushImg('logo-upload', 'good', 'morning', 'system', 'logo');
        });

    });
</script>
</@javascript>
