<#include "/edit/common/editLayout.html">
    <@head>
</@head>

<@body>

<div class="content-wrapper">
    <div class="container">
        <section class="content">
            <h1>user management</h1>
            <form>
                <input type="text" name="">
                <input type="text">
                <input type="text">
            </form>
            
            <form>
                <input type="text" id="userId">
                <button type="button" id="ok">fuck</button>
                <button type="button" id="delete">what</button>
            </form>
            

        </section>
    </div>
</div>
<!--</form>-->
</@body>

<@javascript>
<script type="text/javascript">
    $(function () {
     $('#ok').click(function () {
         var id = $('#userId').val();

         var url = '/api/users/' + id;

         var data = {
             name: "what",
             age: 33
         };

         general_put(url, data);
     });

     $('#delete').click(function () {
         var url = '/api/users/' + $('#userId').val();
         general_delete(url);
     });
    });
</script>
</@javascript>
