<#macro imageChoose modalId dirId listId listPagingId inputId showId showSrc>

    <div class="form-group">
        <label>选择 图片</label>
        <!--modal-->
        <button id="" style="display: block;" type="button" class="btn btn-danger" data-toggle="modal" data-target="#${modalId!'modal-default'}">
            选择图片
        </button>

        <div class="modal fade draggable" id="${modalId!'modal-default'}" style="display: none; background: none">
            <div class="" style="max-width: 50%; margin: 15% auto">
                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="row">
                            <div class="input-group input-group-sm col-sm-6 col-sm-offset-3">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success btn-flat">选择目录</button>
                                </span>

                                <select id="${dirId!'dirId-dft'}" class="form-control">
                                    <option value = ''>所有 图片</option>
                                    <option value = 'system'>系统 目录</option>
                                    <option value = 'info'>新闻 目录</option>
                                    <option value = 'case'>成功案例 目录</option>
                                    <option value = 'product'>产品 目录</option>
                                    <option value = 'ckEditor'>编辑器目录</option>
                                    <option value = 'other'>其他</option>
                                </select>
                            </div>
                        </div>

                        <!--<h4 class="modal-title">图片浏览</h4>-->
                        <!--<div class = "btn-group">-->
                            <!--<button id = "slt-sys-img" type="button" class="btn btn-success">系统图片</button>-->
                            <!--<button id = "slt-info-img" type="button" class="btn btn-success">新闻图片</button>-->
                            <!--<button id = "slt-server-img" type="button" class="btn btn-success">服务器图片</button>-->
                            <!--<button id = "slt-content-img" type="button" class="btn btn-success">内容图片</button>-->
                            <!--<button id = "slt-other-img" type="button" class="btn btn-microsoft">其他</button>-->
                        <!--</div>-->


                    </div>

                    <div class="modal-body">
                        <div id="${listId!'modal-img-lst'}" class="clearfix">

                            <!--<div title="name.png" class="img-item" style="background-image: url('/images/banner.png');">-->
                                <!--<div class="widget-image-meta">310x249</div>-->
                            <!--</div>-->

                        </div>
                        <hr>
                        <div id = "${listPagingId!'modal-img-paging'}" class="clearfix"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

                        <a href="javascript:;" class="file">上传图片
                            <input type="file" required="required" id="${inputId!'dft-input'}">
                        </a>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--<button id="submit-dpl-banner" type="button" class="btn btn-warning">确认上传</button>-->
            <!--<p class="help-block">点击上传banner图</p>-->
            <img alt="没有图片" id="${showId}" src="${showSrc!}">
    </div>

</#macro>