<div class="box box-success">
    <div class="box-header with-border bg-green">
        <h3 class="box-title">添加用户</h3>
        <div class="pull-right box-tools">
            <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i></button>
            <!--<button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">-->
            <!--<i class="fa fa-times"></i></button>-->
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form role="form">

            <!--name-->
            <div class="form-group">
                <label>用户名称</label>
                <input id="userName" type="text" value="${user.userName!}" class="form-control" placeholder="用户名称" >
            </div>

            <!--name-->
            <div class="form-group">
                <label>用户 密码</label>
                <input id="password1" type="password" value="${user.password!}" class="form-control" placeholder="密码" >
                <input id="password2" type="password" value="${user.password!}" class="form-control" placeholder="确认密码" >
            </div>

            <!--description-->
            <div class="form-group">
                <label>描述</label>
                <textarea id="user-description" class="form-control" rows="3" placeholder="描述 ...">${user.desc!}</textarea>
            </div>

            <div class="form-group">
                <label>角色</label>
                <select class="form-control select2 select2-hidden-accessible" multiple="multiple" data-placeholder="Select a State" style="width: 100%;" tabindex="-1" aria-hidden="true">

                    <#list roleList as role>
                    <option value="${role.roleName}">${role.desc}</option>
                    </#list>

                </select>

            </div>

            <!--select-->
            <div class="form-group">
                <label>状态</label>
                <select id="user-state" class="form-control">
                    <#if user.state>
                        <option value="1"  selected="selected">打开的 </option>
                        <option value="0">关闭的 </option>
                        <#else>
                            <option value="1">打开的 </option>
                            <option value="0" selected="selected">关闭的 </option>
                    </#if>
                </select>
            </div>
        </form>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button id="user-add" type="button" class="btn btn-warning btn-flat">新增</button>

        <#if user??>
            <button id="user-update" type="button" class="btn btn-primary btn-flat">修改</button>
            <button id="user-delete" type="button" class="btn btn-default btn-flat">删除</button>
            <#else>
        </#if>
    </div>
</div>

